body {
  display: flex;
  font-family: Pacifico, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

button {
  width: 60px;
  height: 60px;
}

.buttons {
}

#file-selector {
  max-width: 75px;
  max-height: 25px;
}

#divMain {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding: 5vmin;
  padding-right: 10vw;
}

.containerFetish {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 5px;
  width: 25vw;
}

.boxName {
  padding-left: 25px;
  padding-right: 5px;
}

.containerScoreBoxes {
  display: flex;
}

.boxScore {
  border: 1px solid black;
  width: 20px;
  height: 30px;
}
